<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Add Item To Session</h2>
<form action="#" th:action="@{/cart/persistObject}" th:object="${item}" method="get">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}" /></td>
            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" th:field="*{quantity}" /></td>
            <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="text" th:field="*{date}" /></td>
            <td th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
<div>
    <h2>Item Data In Session</h2>
    <span th:text="${itemData?.name} ?: 'No item name'" />
    <br>
    <span th:text="${itemData?.description} ?: 'No item description'" />
    <div>
        <h2>Items</h2>
        <ul th:each="message : ${sessionMessages}">
            <li th:text="${message}">msg</li>
        </ul>
    </div>
    <div>
        <h2>Session ID</h2>
        Current Session ID xx <span th:text="${sessionId}" />
    </div>
</div>
</body>
</html>