<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Add User With Validation</h2>
<form action="#" th:action="@{/lab04/addValid}" th:object="${user}" method="get">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{name}" /></td>
      <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
    </tr>
    <tr>
      <td>E‐mail:</td>
      <td><input type="text" th:field="*{email}" /></td>
      <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Age Error</td>
    </tr>
    <tr>
      <td><button type="submit">Submit</button></td>
    </tr>
  </table>
</form>
</body>
</html>